# Created by .ignore support plugin (hsz.mobi)
/virtualenv/
.idea/workspace.xml
marverProject/__init__.pyc
/static/img/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/misc.xml
marverProject/staticfiles/
marverProject/urls.pyc
marverProject/wsgi.pyc
static/jquery-ui-1.12.1
settings/config.py
marvervirtualenv
*.pyc
__pycache__

