# Created by .ignore support plugin (hsz.mobi)
/virtualenv/
.idea/workspace.xml
marverProject/__init__.pyc
/marverProject/config.py
/static/img/
!/settings/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/misc.xml
eventsdisplay_app/migrations/0001_initial.py
eventsdisplay_app/migrations/0001_initial.pyc
eventsdisplay_app/migrations/0002_feedback_webcast.py
eventsdisplay_app/migrations/0002_feedback_webcast.pyc
eventsdisplay_app/migrations/0003_support.py
eventsdisplay_app/migrations/0003_support.pyc
eventsdisplay_app/urls.pyc
eventsmanager_app/backends.pyc
eventsmanager_app/custom_storage.pyc
eventsmanager_app/migrations/0001_initial.py
eventsmanager_app/migrations/0002_auto_20171023_1855.py
eventsmanager_app/migrations/0002_auto_20171023_1855.pyc
marverProject/config.pyc
marverProject/settings.pyc
marverProject/staticfiles/
marverProject/urls.pyc
marverProject/wsgi.pyc
output.png
/settings/
/settings/base.py
/settings/dev.py
/settings/staging.py
