# Created by .ignore support plugin (hsz.mobi)
/virtualenv/
.idea/
marverProject/__init__.pyc
/static/img/

marverProject/staticfiles/
marverProject/urls.pyc
marverProject/wsgi.pyc
static/jquery-ui-1.12.1
settings/config.py
marvervirtualenv
*.pyc
__pycache__

