{% extends "eventsdisplay/index.html" %}
{% block page_content %}
    {% load static from staticfiles %}
  <script src="{% static 'js/jwplayer-7.12.2/jwplayer.js' %}"></script>
    <script>jwplayer.key="Bd+SvQlaIgPfkPvQCVEOfpmILmXJNDpt4D2Y0Q==";</script>


<!-- Container for the loader that activates when an Ajax request is sent-->
<div id="loader-container">
    <div id="loader"></div>
</div>
<div id="supportContainer" class="modal fade" role="dialog">
    <div class="modal-dialog" id="supportContainerInner">

<!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Support Request</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="supportForm"  class="player-forms playerForm"> {%csrf_token%}
                    <input type="hidden" value="supportForm" class="formType">
                    <input type="hidden" value="{{ event_id.webcast_title }}" class="form-control webcast_title">
                    <label>
                        <input type="hidden" name="webcast_id" value="{{event_id.id}}" class="webcast_id">
                    </label>
                    <label>Webcast Title
                        <input type="text" name="webcast_title" class="form-control webcast_title"  disabled value="{{ event_id.webcast_title }}">
                    </label>
                    <label>Name
                        <input type="text" name="name" class="form-control name" required/>
                    </label>
                    <label>Surname
                        <input  type="text" name="surname" class="form-control surname" required/>
                    </label>
                    <label>Email
                        <input type="email" name="email" class="form-control email" required />
                    </label><br>
                    <label>Issue Type
                        <select name="issue" class="form-control issue">
                            <option value="Video Problem">Video Problem</option>
                            <option value="Usability Problem">Usability Problem</option>
                            <option value="User Interface Problem">User Interface Problem</option>
                        </select>
                    </label><br>
                    <label style="width:100%">Issue Experienced
                        <textarea class="form-control comment" name="comment" rows="4" required></textarea>
                    </label><br>
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <p class="supportFormMessage"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container ">
        <header class="player-header">
            <h1 class="player-webcast-title">{{event_id.webcast_title}}</h1>
            <div class="player-header-inner">
                <div class="stars">
                      <form action="">

                        <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>

                        <label class="star star-5" for="star-5"></label>

                        <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>

                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>

                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>

                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>

                        <label class="star star-1" for="star-1"></label>

                      </form>
                </div>
                <a href="#" class="btn btn-default" style="height:35px; margin-top:28px; display:none" id="ratingSubmit">Submit Rating</a>
            </div>
            <p class="rating-message" ></p>
        </header>
        <div class="row webcast-main-container">
            <div class="col-lg-7 video-container">
                <div id="myElement" class="img-responsive" ></div>
                <script type="text/javascript">
                var playerInstance = jwplayer("myElement");
                playerInstance.setup({
                    file: "{{event_id.webcast_video}}",
                    image:"{{event_id.webcast_img}}"
                });
                </script>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-lg-12 player-agenda-comments-containers">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Order of business
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ol>
                                        {% if agenda != None %}
                                            {% for point in agenda.agenda %}
                                                <li>{{ point}}</li>
                                            {% endfor %}
                                        {% endif %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Comments & Feedback
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body commentContainerClass" id="commentContainer">
                                        <div class="player-agenda-comments-info-container" id="commentContainerInner">
                                            <form method="post" action="" id="commentForm" class="player-forms playerForm"> {%csrf_token%}
                                                <input type="hidden" value="commentForm" class="formType">
                                                <input type="hidden" value="{{ event_id.webcast_title }}" class="form-control webcast_title">
                                                <label>
                                                    <input type="hidden" value="{{event_id.id}}" class="webcast_id" id="event_id">
                                                </label>
                                                <label>Name
                                                    <input type="text" class="form-control name"  required>
                                                </label>
                                                <label>Surname
                                                    <input  type="text" class="form-control surname" required >
                                                </label>
                                                <label>Email
                                                    <input type="email" class="form-control email" required >
                                                </label>
                                                 <label>Webcast Title
                                                <input type="text" name="webcast_title" class="form-control webcast_title"  disabled value="{{ event_id.webcast_title }}">
                                                </label><br>
                                                <label style="width:100%">Comment
                                                    <textarea class="form-control comment" rows="4" id="comment" required></textarea>
                                                </label><br>

                                                <input type="submit" class="btn btn-primary" value="Submit">
                                                <p class="supportFormMessage"></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row webcast-information-row">
            <svg width="100%" height="10">
                <rect width="100%" height="3" ></rect>
            </svg>
            <div class="col-lg-4 meeting meeting-chapters" id="chapters">
                <div class="col-header">
                    <h4>Meeting Chapters</h4>
                </div>
                <hr>
                <p></p>
                <ul>
                    {% for chapter in chapters_list.chapters %}
                    <li> <img src="{{ chapter.imgUrl }}" alt="Event Chapter Image" width="125" height="70">
                        <a href="javascript:return false" onclick="jwplayer('myElement').seek({{ chapter.time }})">
                            {{ chapter.title }} - {{ chapter.timeReadable }}</a></li>
                    {% endfor %}
                 </ul>
            </div>
            <div class="col-lg-3 meeting meeting-documents" id="documents">
                <div class="col-header">
                    <h4>Meeting Documents</h4>
                </div>
                <hr>
                <ul>
                    {% for asset in assets %}
                    <li><img src="{%  static 'fonts/Icons/Adobe-PDF-Document-icon.png' %}" width="45" height="50" alt="Document Icon">
                        <a href={{ MEDIA_URL }}{{asset.asset_upload}} target="_blank">{{asset.asset_name}}</a></li>
                   {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 meeting upcoming-meetings" id="comments">
                <div class="col-header">
                    <h4>Meeting Speakers</h4>
                </div>
                <div class="player-speaker-container">
                    {% for speaker in speakers_list %}
                        <div class="single-speaker-container archived">
                            <img  src={{ MEDIA_URL }}{{speaker.speaker_pic_url}} width="80px" height="80px" class="pull-left" alt="Speaker Picture">
                            <div class="single-speaker-info-container">
                                <p >Name: {{ speaker.speaker_name }}  </p>
                                <p>Surname: {{speaker.speaker_surname}}</p>
                                <p>Role: {{speaker.speaker_title}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container player-menu-container">
            <div id="playerMenu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="player-control-icons-container">
                        <div class="single-icon-container"><a href=javascript:return false><img src="{% static '/fonts/Icons/open-book.png'%}" width="50" height="50" onclick="toggleInfoAppear(this)" id="buttonChapters" alt="Chapters Icon">Chapters</a></div>

                        <div class="single-icon-container"><a href=javascript:return false><img src="{% static '/fonts/Icons/text-lines-4.png'%}" width="50" height="50"  onclick="toggleInfoAppear(this)" id="buttonDocuments" alt="Documents Icon">Documents</a></div>
                        <div class="single-icon-container"><a href=javascript:return false ><img src="{% static 'fonts/Icons/chatting-2.png'%}" width="50" height="50" onclick="toggleInfoAppear(this)" id="buttonComments" alt="Speakers Icon">Speakers</a></div>
                        <div class="single-icon-container"><a href=javascript:return false><img src="{% static 'fonts/Icons/assistant.png' %}" width="50" height="50" alt="Support Icon" data-toggle="modal" data-target="#supportContainer"><br>Support</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="upcoming-meetings-container container">
        <svg width="100%" height="10">
            <rect width="100%" height="3"></rect>
        </svg>
        <div class="player-upcoming-meetings-header">
            <h2>RECENTLY ARCHIVED</h2>
        </div>
        <div class="row">
            {% for webcast in webcasts|slice:":6" %}
                <div class="col-lg-4 archive-player-webcast-single-container">
                    <a href="{{ webcast.get_absolute_url }}" target="_blank"> <div class="archive-index-event-single-container-inner">
                        <div class="recent-webcast-overlay">
                            <p>{{webcast.webcast_date}} {{webcast.webcast_time}}</p>
                            <h5 style="text-transform: uppercase">{{ webcast.webcast_title }}</h5>
                        </div>
                        <img src="{{webcast.webcast_img}}" width="auto" height="250" alt="Event Thumbnail">
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <svg width="100%" height="10">
            <rect width="100%" height="3" ></rect>
        </svg>
    </div>
</section>
<script src="{% static 'js/main.js' %}" ></script>

{% endblock %}