<!DOCTYPE html>
<html lang="en">
<body style="background-color:rgb(224, 225, 227)">

Hello <strong>{{ name }}</strong>
<p><strong>Thank you</strong> for submitting your support request for the meeting:</p>
<h4>{{ webcast_title }}</h4>
<p>Your support request is below:</p>
<p><em>{{ comment }}</em></p>
<p>We can confirm that we have received you support and we apologise for any inconvenient created</p>
<p>We will contact you for support as soon as possible</p>

<h2>The Support Team</h2>

<footer>
    <div>
        <div class="row">
            <div class="col-lg-4 footer-social-media footer-box">
            </div>
            <div class="col-lg-4 footer-logo footer-box">
                <img src="http://elasticbeanstalk-eu-west-2-932524864295.s3.amazonaws.com/img/marver2.png" width="70" height="68" alt="Marver Logo">
                <img src="http://elasticbeanstalk-eu-west-2-932524864295.s3.amazonaws.com/img/marverplayerlogol.png" width="300" height="70" alt="Marver Logo">
            </div>
            <div class="col-lg-4 footer-contact-info footer-box">

            </div>
        </div>
    </div>
</footer>
</body>
</html>